aws_region          = 
prefix              = 
vpc_cidr            = 
public_subnet_cidr  = 
private_subnet_cidr = 
availability_zone   = 
ec2_instance_type   = 
ec2_key_name        = 
my_ip               = 